<!DOCTYPE html>

<html lang="en">

<body>
<div>
  <button class="isRegister" (click)="register()">Регистрация</button>
  <button class="isRegister" (click)="find()">Поиск пользователя</button>
</div>
<div *ngIf="isRegister">
  <form class="form" (ngSubmit)="onSubmit()">
    <div>
      <label>Выберите изображение для аватара профиля</label><br>
      <input class="margin" #fileInput type="file" accept=".jpg, .jpeg, .png">
    </div>
    <div>
      <button type="submit">Отправить</button>
    </div>
  </form>
  <form class="form" #userForm="ngForm" (ngSubmit)="onSubmitUser(userForm)" *ngIf="user && user.avatar">
    <div class="margin">
      <input type=text placeholder="Имя" [(ngModel)]="user.firstName" name="firstName">
    </div>
    <div class="margin">
      <input type=text placeholder="Фамилия" [(ngModel)]="user.surName" name="surName">
    </div>
    <div class="margin">
      <input type=text placeholder="Ник" [(ngModel)]="user.nickName" name="nickName">
    </div>
    <div class="margin">
      <input type=email placeholder="Email" [(ngModel)]="user.email" name="email">
    </div>
    <div>
      <button type="submit">Отправить</button>
    </div>
  </form>
</div>
<div *ngIf="isFind">
  <div class="form">
    <input class="isRegister" type="number" placeholder="найти по id" [(ngModel)]="idForSearch" name="id">
    <button (click)="getUserById()">Запросить</button>
  </div>
  <div class="form" *ngIf="searchUser">
    <div class="margin">
      <input type=text [(ngModel)]="searchUser.id" name="searchId" disabled>
    </div>
    <div class="margin">
      <input type=text [(ngModel)]="searchUser.firstName" name="searchFirstName" disabled>
    </div>
    <div class="margin">
      <input type=text [(ngModel)]="searchUser.surName" name="searchSurName" disabled>
    </div>
    <div class="margin">
      <input type=text [(ngModel)]="searchUser.nickName" name="searchNickName" disabled>
    </div>
    <div class="margin">
      <input type=email [(ngModel)]="searchUser.email" name="searchEmail" disabled>
    </div>
    <div class="form">
      <select class="isRegister" [(ngModel)]="userStatus.newStatus" (ngModelChange)="statusChange()">
        <option value="no">Нет</option>
        <option value="Online">Online</option>
        <option value="Offline">Offline</option>
      </select>
      <button (click)="getUserStatus(searchUser.id)">Изменить статус</button>
    </div>
  </div>
</div>
<div class="form">
  <select class="statistic" [(ngModel)]="statistic.status">
    <option value="no">Нет</option>
    <option value="Online">Online</option>
    <option value="Offline">Offline</option>
  </select>
  <input id="datetime" type="datetime-local"  [(ngModel)]="statistic.date">
  <button (click)="getStatisticsByStatus(statistic)">Запросить статистику</button>
</div>
<div>
  <table>
    <tr *ngFor="let user of users">
      <td>{{user.firstName}}</td>
      <td>{{user.nickName}}</td>
      <td>{{user.surName}}</td>
      <td>{{user.avatar}}</td>
      <td>{{user.userStatus.newStatus}}</td>
    </tr>
  </table>
</div>
</body>
</html>
